.NavBarInvisible{
    margin-top: 0;
    margin-bottom: 100px;
  }
  .Seccion1{
    display: flex;
    margin-top: 3rem;
    margin-bottom: 0;
  }
  
  .Seccion1 .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container{
    height: -400px
  }
  .TituloQS{
    color: white;
  }
  
  h2{
    margin-top: 50px !important;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    font-size: 40px;
  }
  
  .Carta{
    display: block;
    text-align: center;
    justify-content: center;
    color: white ;
    margin: 30px;
    width: 450px;
    height: 600px;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    font-size: 25px;
  }
  .Carta1{
    margin-top: 110px;
    margin-left: 0px;
  }
  
  .Carta img{
    height: 600px;
    width: 500px;
  }
  
  @media only screen and (max-width: 600px){
  .Seccion1{
    margin-top: 100px;
  }
  .NavBarInvisible{
    margin-top: 0;
    margin-bottom: 200px;
  }
  
    h2{
    margin-top: 50px !important;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    font-size: 40px;
  }
  
  .Carta{
    display: block;
    text-align: center;
    justify-content: center;
    color: white ;
    margin-top: 30px;
    width: 450px;
    height: 600px;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    font-size: 25px;
    
  }
  
  .Carta img{
    height: 600px;
    width: 500px;
  }
  
  }
   /*Seccion2*/
  
  
  
  @media only screen and (max-width: 600px){
  
  
    html{
      background-size: 100% no-repeat;
    }
    .Seccion1{
      align-items: center;
      justify-content: flex-start;
      width: 20rem;
      padding-left: 10px;
      padding-right: 60px;
      text-align: left;
      
    }
    
      .Articulo1{
        font-size: 20px;
      }
  
      .TituloQS{
        color: white;
        font-size: 45px;
    }
  
  }
  @media only screen and (max-width: 486px){
    html{
      background-size: 100% no-repeat;
    }
  
  }
  
  .tamañoImagen{
  
  height:500px;
  
  }
  
  