
#seccion2 .car, 
#seccion2 .card h5{
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
#seccion2 {
  top: -100vh;   
}

@media only screen and (max-width: 600px)
{
  h2{
    font-size: 20px !important;
  }
  .Carta{
    margin: 0px;
    width: 250px;
    height: 50px;
    font-size: 15px;

  }
  
  .Carta img{
    padding-right: 50px;
    height: 400px;
    width: 300px;
  }
}


@media only screen and (max-width: 486px){
  html{
    background-size: 100% no-repeat;
  }

}

.tamañoImagen{
height:500px;
}




